@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        <li><a href="/ScenarioA">Scenario A</a>: RazorPage in RazorClassLibrary, Resources in RazorClassLibrary</li>
        <li><a href="/ScenarioB">Scenario B</a>: RazorPage in RazorClassLibrary, Resources in WebApplication</li>
        <li><a href="/ScenarioC">Scenario C</a>: RazorPage in WebApplication, Resources in RazorClassLibrary</li>
        <li><a href="/ScenarioD">Scenario D</a>: RazorPage in WebApplication, Resources in WebApplication</li>
    </ul>
</div>
